@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
body {
  /* background-color: rgb(232, 238, 238); */
  /* background-image: linear-gradient(blue , purple,pink); */
   background-image: linear-gradient(to right,  blue, indigo, violet);
}
h1{
    color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.input-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
}
.input-container input {
  border: none;
  outline: none;
  padding: 12px;
  margin-block: 12px;
  border-radius: 4px;
  font-size: 16px;
}

.input {
  width: 50%;
}

.btn-1 {
  background-color: #f10aa4;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-left: 8px;
  cursor: pointer;
  /* padding: 22px 38px; */
  width: 15%;
}
.btn-1:hover {
  background-color: #fd6ece;
  /* color: white; */
}
ul {
  width: 100%;
  max-width: 450px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
ul li {
  list-style-type: none;
  cursor: pointer;
  margin-block: 12px;
  border-radius: 8px;
  border: 0.125px solid #a19f9f;
  padding: 6px 12px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background0.5s;
}

ul li:hover {
  background-color: #cbcaca;
}
ul li p {
  flex-grow: 1;
  padding: 2px;
}
.btn {
  border: none;
  outline: none;
  font-size: 20px;
  background-color: none;
  font-weight: 600;
  cursor: pointer;
  margin-right: 9px;
  background-color: transparent;
}
.deleteBtn {
  color: green;
  
}
.editBtn {
color: purple;
}
